#general-average-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

.general-average {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    background: var(--card-background);
    box-shadow: 0 4px 20px var(--shadow-color);
}

.average-value {
    white-space: nowrap;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.average-message {
    padding: 10px;
    margin-top: 10px;
    font-size: 1.4em;
}

@media (max-width: 480px) {
    .general-average {
        padding: 15px;
        font-size: 0.9em;
    }
    
    .average-message {
        font-size: 1.2em;
    }
}
